<div class="col-md-8 mx-auto">
    <div class="form-mini-container">
        <h1>Welcome to the Descentralized Journal System</h1>
        <div class="form-mini medium">
            <h4>Enter this information to register</h4>
            <div class="form-row">
                <input type="text" name="name" placeholder="Name">
            </div>
            <div class="form-row">
                <input type="text" name="lastname" placeholder="Last Name">
            </div>
            <div class="form-row">
                <input type="email" name="email" placeholder="Email">
            </div>
            <div class="form-row">
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="form-row">
                <input type="password" name="password" placeholder="Password">
            </div>
            <div class="form-row form-last rounded">
                <button id="login">Register</button>
            </div>
        </div>      
    </div>
</div>
